body{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
h1{
    padding-left: 87px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif; 
    font-size: 50px;
    font-weight: bold;
}
p{
    padding-left: 90px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif; 
}
.paraghaph{
    font-size:20px;
}
.font-style{
    font-size: 20px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
}
img{
    float: right;
    width: 550px;
    padding-right: 70px;
}
.sajid-two{
    float: left;
    padding-left: 90px;
}
span{
    color: rgb(255, 134, 99);
}
.big{
    color: rgb(255, 20, 129);
}
a{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(to right, rgb(255, 134, 99), rgb(255, 84, 72) );
    margin: 90px;
    border-radius: 5px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
.link-two{
    text-decoration: none;
    padding: 10px 40px;
    color: white;
    background-image: linear-gradient(to left, rgb(255, 62, 152), rgb(255, 20, 129) );
    border-radius: 5px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 0px;
}
.two{
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.two{
    padding-top: 200px;
}
.third-header{
    padding-top: 250px;
    text-align: left;
    padding-left: 87px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif; 
    font-size: 50px;
    font-weight: bold;
}
.forth-header{
    padding-left: 87px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif; 
    font-size: 35px;
    font-weight: bold;
    float: left;
}
p, .paraghaph-two{
    padding-right: 140px;
    text-align: left;
    padding-left: 87px;
}
.third-h1{
    font-size: 30px;
}
h2{
    text-align: left;
    padding-left: 87px;
    font-family: 'Love Light', cursive;
    font-family: 'Poppins', sans-serif;
     
}
.final-header{
    float: right;
}

footer{
    text-align: center;
}
